<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center " style="padding-bottom: 8px;">
          <h2 class="h5 ">Piccolo coffee</h2>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="/admin" class="brand-small text-center"> <strong>P</strong><strong
              class="text-primary">C</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <h5 class="sidenav-heading">Main</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li><a href="/admin/"><i class="fas fa-house-user"></i>Home </a></li>
          <li><a href="/admin/products"><i class="fab fa-product-hunt"></i> Products </a></li>
          <li><a href="/admin/categories"><i class="fas fa-store"></i>Categories </a></li>
          <li><a href="/admin/blogs"><i class="fas fa-blog"></i></i>Blogs </a></li>
          <li><a href="/admin/trash"><i class="fas fa-trash-alt"></i></i>Trash </a></li>
          <hr>

          <li><a href="/admin/account/logout"><i class="fas fa-sign-in-alt"></i>Logout </a></li>
        </ul>
      </div>
    </div>
  </nav>